/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-light: #E3E4DE;
    --color-dark: #4b4c60;
    --color-front: var(--color-dark);
    --color-back: var(--color-light);
    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;
    --global-color-alpha-x-dark: #1B4186;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;
    --global-color-neutral-xxxx-light: #F5F6FA;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-light: #a0a1ad;
    --global-color-neutral: #8b8c9a;
    --global-color-neutral-dark: #757787;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxx-dark: #35374d;
    --global-color-neutral-xxxx-dark: #20223a;
    --color-bitcoin: #ff914c;
    --color-ethereum: #4F95FF ;
    --color-litecoin: #606274;
    /* opacity */
    --global-muted-opacity:.6;
    /* transitions */
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-boxShadow: 0 0 0 3px var(--global-color-alpha-x-transparent);

    /*sizes */
    --global-input-fontsize:1rem;
    --global-input-font:4rem;

    /* border stuff */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */
    --global-transitionTiming-alpha: .1s ease-out;
    --global-transition-alpha: 0.1s ease;
}

.is-night{
    --color-front: var(--color-light);
    --color-back: var(--color-dark);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: var(--global-input-fontsize);
    line-height: 1.5;
    font-family: 'Inter-UI', sans-serif;
    box-sizing: border-box;
    color:  var(--color-front);
    background-color: var(--color-back);
    font-feature-settings: "zero"1; /* dit zorgt voor de slashed 0 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::selection {
    background: var(--color-front);
    color: var(--color-back);
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 24px;
    
}

h2 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
    font-size: var(--global-input-fontsize);
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 1.5rem;
}

ul,
ol {
    padding-left: 1.5rem;
}

li ul,
li ol {
    margin-bottom: 0;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app{
    width: 400px;
    padding: 2em;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.c-app__summary{
    font-size: 1.75rem;
    line-height: 2.5rem;
}
.c-data
{
    margin-top: 2rem;
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}
.c-data__line
{
    border-top: 1px solid var(--color-front);
    display: grid;
    justify-content: space-between;
    padding-top: 0.5rem;
    margin-bottom: 1.25rem;  
}
.c-logo{
    fill:var(--color-bitcoin);
}
 .c-logo {
    font-size: var(--global-input-fontsize);
    line-height: 1rem;
    display: flex;
    align-items: center;
} 
.c-logo .c-coin {
    margin-right: 0.5rem;
}
.c-data__headername{
    margin: 0;
    font-size: 1.5rem;
    color: var(--white);  
}

.c-data__header
{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    justify-content: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-left: -1rem;
    margin-right: -1rem;
    color: var(--color-front);
    background-color: var(--color-bitcoin);
}
.c-data__header--bitcoin {
    background-color: var(--color-bitcoin);
}

.c-data__header--ethereum {
    background-color: var(--color-ethereum);
}

.c-data__header--litecoin {
    background-color: var(--color-litecoin);
}
.c-data_value{
    margin-left: 0.5rem;
    font-weight: 200;
}

.c-data__percentage h3{
    margin-bottom: 0.25rem;
    padding: 1rem;
    
}

.c-datehit{
    text-align: center;
}

.c-data__text
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px auto;
    color: var(--color-back);
    background-color: var(--white);
    box-shadow: 1px 1px 34px -12px rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 90%;
    border-radius: 1.125rem;
}
.c-card
{
    background-color: var(--white);
    border: 1px solid var(--color-front);
    width: 100%;
    height: 80%;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px 0 var(--color-back);
    
}

:root {

 --white: white;

}

body{
    width: 100%;
    display: flex;
    align-items: center;
}

.c-switcher__holder
{
width: 100%;
display: flex;
justify-content: center;

}
.c-switcher{
    background-color: var(--white);
    display: flex;
    padding: 0.625rem 0.875rem;
    width: 100%;
    padding-left:  20%;
    padding-right: 20%;
    justify-content: space-between;
    border-radius: 1.25rem;
    align-items: center;
    box-shadow: 1px 1px 34px -12px rgba(0,0,0,0.67);
    -webkit-box-shadow: 1px 1px 34px -12px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 1px 34px -12px rgba(0,0,0,0.67);
}

.c-switch-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.c-switch-item__input:checked + .c-switch-option .c-switch-option__symbol {
    opacity: 1;
    transition: 0.8s ease;
}

.c-switch-option__symbol {
        transition: var(--global-transition-alpha);  
        opacity: 0  ;
        display: block;
        fill:var(--global-color-neutral-xx-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
}

.c-switch-option__symbol {
    transition: var(--global-transition-alpha);  
    opacity: 0.4  ;
    display: block;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-muted
{
    opacity: var(--global-muted-opacity);
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/
@media (max-width: 992px){
.c-app{
        width: 400px;
        padding: 2em;
        margin: 0 auto;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
    }
.c-datehit{
    display:none;
}
.c-logo {
display:none;
} 
}


