p,h1,h2,h3,h4,h5{
    display: inline-block;
    margin-bottom: 0.5rem;
    margin: 0;
}
.header{
    overflow: hidden;
    background-color:var(--color-dark);
  }
  .header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    border-radius: 0.25rem;
  }

  .header a {
    text-decoration: none;
  }
  .header a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    transition: 0.2s ease;
  }
.o-image{
    width:130%;
}
.allign-item
{
    display:flex;
    justify-content: center;
}
.allign-item-titel
{   margin-right: 7rem;
    display:flex;
    justify-content: center;
}
.o-image-2{
    display: none;
}

.o-titel{
    font-size: 1.75rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}
.o-allign{
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-evenly;
}
.background{
    background-color:#4b4c60;
    color: white;
}
.logo{
    height: 3.125rem;
    width: 3.125rem;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.smaller{
    height: 4.375rem;
}
.textsmaller{
    max-width: 31.25rem;
}
.container
{
    display: grid;
    /* justify-items: center; */
    align-items: center;
    grid-template-columns: 100%;
    /* grid-column: auto; */
    /* grid-row: auto; */
    gap: auto auto;
    border: 1rem;
    width: 80%;
    margin: 0 auto;
}
.headerholder{
    padding: 0.3125rem 0.625rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
.button {
    background-color: var(--color-dark);
    border-radius: 0.4375rem;
    color: var(--white);
    padding: 0.25rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--global-input-fontsize);
    margin-top: 0.5rem;
  }

.o-content{
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
input.small{
    border-radius: 0.4375rem;
    padding: 0.25rem 1rem;
    border: none;
    margin-bottom: 1rem;
    color: black;
}
textarea.big{
    border-radius: 0.4375rem;
    padding: 0.25rem 1rem;
    border: none;
    margin-bottom: 1rem;
    /* width: 100%;? */
    color: black;
}
input.submit{
    background-color: white;
    border-radius: 7px;
    color: black;
    border: none;
    padding: 0.25rem 1rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    transition: 0.15s ease;
}
.c-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media(min-width:40rem){

    .container{
        grid-template-columns: 50% 50%;
    }
    .logo{
        height: 4.625rem;
        width: 4.625rem;
    }
    .o-image-2{
        display: block;
        max-width: 80%;
    }
}